<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
                <!-- Main Menu -->
        <menuitem id="hospital.menu_root" 
                    name="Hospital"
                    web_icon="hospital,static\description\icon.png"
                    sequence="7"/>

        <!-- Patients Master Menu  -->
        <menuitem id="patient_menu_master" 
                    name="Patients" 
                    sequence="0"
                    parent="hospital.menu_root"/>

        <!-- Appointments Master Menu  -->
        <menuitem id="appointment_menu_master" 
                    name="Appointments" 
                    sequence="1"
                    parent="hospital.menu_root"/>

        <!-- Confegrations Master Menu  -->
        <menuitem id="configration_menu_master" 
                    name="Confegrations" 
                    sequence="3"
                    parent="hospital.menu_root"/>
    </data>
</odoo>